$color-text: #404040;
$color-line: #707070;

$color-background-primary: #f4f6f6;
$color-background-secondary: #76e0ff;

$color-social--instagram: linear-gradient(90deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #515bd4 100%);
$color-social--facebook: #2e6ec8;
$color-social--linkedin: #fff;
$color-social--github: linear-gradient(90deg, #34d058, #28a745 90%);

$color-image-background: #eee;
