@import "reset";
//@import "next";

@font-face {
  font-family: 'Square Font';
  src:
    url("/static/fonts/squarefont/SquareFont.woff2") format("woff2"),
    url("/static/fonts/squarefont/SquareFont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: 'Forced Square';
  src:
    url("/static/fonts/forced-square/Forced-Square.woff2") format("woff2"),
    url("/static/fonts/forced-square/Forced-Square.woff") format("woff");
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
