.item {
  padding-left: 1rem;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    width: 0.6rem;
    height: 0.1rem;
    background-color: $color-text;
  }
}

.link {
  @include bodyLink;

  position: relative;
  transition: all 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    width: 0;
    height: 0.3rem;
    transition-duration: 0.5s;
    opacity: 0;
    z-index: -1;
    background-color: $color-text;
  }

  &:hover {
    font-weight: 500;

    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.linkInstagram {
  &::after {
    background: $color-social--instagram;
  }
}

.linkFacebook {
  &::after {
    background: $color-social--facebook;
  }
}

.linkLinkedin {
  &::after {
    background: $color-social--linkedin;
  }
}

.linkGithub {
  &::after {
    background: $color-social--github;
  }
}
