.container {
  @include bodyText;

  display: flex;
}

.list {
  & + .list {
    margin-top: 2.4rem;
  }
}

.title {
  font-weight: 500;
}

.link {
  @include bodyLink;

  text-decoration: underline;
}

.description {
  margin-top: 2.4rem;

  @include breakpoint(md) {
    margin-top: 0;
  }
}
