@import "assets/scss/variables";

$colors: (
  'color-text-primary': $color-text,
  'color-line-primary': $color-line,
  'color-background-primary': $color-background-primary,
  'color-background-secondary': $color-background-secondary,
  'color-social--instagram': $color-social--instagram,
  'color-social--facebook': $color-social--facebook,
  'color-social--linkedin': $color-social--linkedin,
  'color-social--github': $color-social--github,
  'color-image-background': $color-image-background
);

@each $name, $color in $colors {
  .#{$name} {
    background: $color;
    height: 5rem;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.05);
  }
}
