.list {
  @include bodyText;

  margin-top: 2.4rem;

  a {
    text-decoration: underline;
    color: $color-text;
  }

  & + .list {
    margin-top: 3.2rem;
  }

  @include breakpoint(md) {
    margin-top: 0;
  }
}

.listPortrait {
  @include breakpoint(lg) {
    margin-top: 12rem;
  }
}

.title {
  font-weight: 500;
}

.descriptionContainer {
  @include bodyText;

  padding-bottom: 3.2rem;

  @include breakpoint(md, max) {
    margin-top: 3.2rem;
  }

  @include breakpoint(md) {
    padding-bottom: 4.8rem;
  }
}

.descriptionContainerAlternative {
  @include breakpoint(md) {
    margin-top: 2.4rem;
  }
}

.descriptionContainerSquare {
  @include breakpoint(md) {
    margin-top: 2.4rem;
  }
}
