@import "assets/scss/variables/layout";

.container {
  width: 100%;
  max-width: $layout-max-container-width;
  margin: 0 auto;
  box-sizing: border-box;

  @each $size, $value in $layout-grid-offset {
    @include breakpoint($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @each $size, $value in $layout-grid-gap {
    @include breakpoint($size) {
      margin-left: -#{$value / 2};
      margin-right: -#{$value / 2};
    }
  }
}

.rowReversed {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.column {
  box-sizing: border-box;
  width: 100%;

  @each $size, $value in $layout-grid-gap {
    @include breakpoint($size) {
      padding-left: $value / 2;
      padding-right: $value / 2;
    }
  }
}

@each $size, $value in $layout-breakpoints {
  @include breakpoint(#{$size}) {
    @for $i from 0 through $layout-grid-columns {
      .#{$size}-#{$i} {
        width: percentage($i / $layout-grid-columns);
      }

      .offset-#{$size}-#{$i} {
        margin-left: percentage($i / $layout-grid-columns);
      }
    }
  }
}
