.container {
  @include bodyText;

  display: block;

  a {
    color: $color-background-secondary;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      color: $color-link;
    }
  }

  p {
    margin-bottom: 1.2rem;
  }

  ul > li {
    position: relative;
    padding-left: 1rem;
  }

  ul > li::before {
    position: absolute;
    left: 0;
    top: 1.2rem;
    transform: translateY(-50%);
    content: '';
    height: 0.3rem;
    width: 0.3rem;
    background-color: $color-link;

    @include breakpoint(sm) {
      top: 1.4rem;
    }
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
  }

  ol,
  ul {
    margin-bottom: 1.2rem;

    & p {
      display: inline;
    }
  }
}
