.title {
  @include h1;

  text-align: right;
  margin-top: -7vw;
  z-index: index($elementsPhotoPage, title);

  @include breakpoint(sm) {
      margin-top: -5.5vw;
  }

  @include breakpoint(md) {
    margin-top: -4.8vw;
  }

  @include breakpoint(lg) {
    margin-top: -6.8rem;
  }


  &::before {
    content: '//';
    position: relative;
    vertical-align: middle;
    top: -0.3vw;
    margin-right: 0.4rem;
    font-size: 6.2vw;

    @include breakpoint(sm) {
      font-size: 5vw;
      top: -0.35vw;
      margin-right: 0.8rem;
    }

    @include breakpoint(md) {
      font-size: 5vw;
      top: -0.3vw;
      margin-right: 0.8rem;
    }

    @include breakpoint(lg) {
      font-size: 6.3rem;
      top: -0.4rem;
      margin-right: 1.2rem;
    }
  }
}

.imageContainer {
  margin-left: - map_get($layout-grid-offset, 'xs');
  margin-right: - map_get($layout-grid-offset, 'xs');

  @include breakpoint(sm) {
    margin-left: - map_get($layout-grid-offset, 'sm');
    margin-right: - map_get($layout-grid-offset, 'sm');
  }

  @include breakpoint(md) {
    margin: 0
  }
}

.image {
  position: relative;
  width: 100%;
  height: 0;
  z-index: - index($elementsPhotoPage, image);
}