.container {
  width: 100%;

  @include breakpoint(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  @each $size, $value in $layout-grid-offset {
    @include breakpoint($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.title {
  @include categoryHeader;

  text-transform: capitalize;

  &::before {
    content: '// ';
    font-size: 1rem;
  }

  @include breakpoint(md) {
    position: fixed;
    right: calc(95% - 4.8rem);
    top: 10.8rem;
    text-align: right;
  }

  @include breakpoint(lg) {
    right: calc((50% + 63.4rem) - 6rem); //calculate location from right side so text is right aligned. 50% + 63.4rem is at the start of the ZANQ logo, then subtract the width of the LOGO(6rem) to align it
    top: 18.5rem;
  }
}

.icon {
  height: 4.8rem;
  width: 4.8rem;

  @include breakpoint(lg) {
    height: 6rem;
    width: 6rem;
  }
}

.iconClose {
  path {
    stroke: #404040;
  }
}

.iconLogo {
  path {
    fill: #404040;
  }
}

.iconLogo:hover {
  path {
    fill: $color-line;
  }
}

.iconClose:hover {
  path {
    stroke: $color-line;
  }
}

.link {
  @include breakpoint(md) {
    position: fixed;
    top: 5.6rem;
  }

  @include breakpoint(lg) {
    top: 12rem;
    height: 6rem;
    width: 6rem;
  }
}

.linkLeft {
  @include breakpoint(md) {
    left: 5%;
  }

  @include breakpoint(lg) {
    left: calc(50% - 63.4rem);
  }
}

.linkRight {
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  margin-top: 3.2rem;
  margin-left: auto;

  @include breakpoint(sm) {
    width: 4.8rem;
    height: 4.8rem;
    margin-top: 4.8rem;
  }

  @include breakpoint(md) {
    right: 5%;
    margin-top: 0;
  }

  @include breakpoint(lg) {
    right: calc(50% - 63.4rem);
  }
}

.showOnMobile {
  @include breakpoint(md, max) {
    display: none;
  }
}

.mobileNavigation {
  @include breakpoint(md) {
    display: none;
  }
}
