.container {
  margin-top: 15vw;

  @include breakpoint(md) {
    margin-top: 12rem;
  }
}

.year {
  @include accent;

  position: absolute;
  top: 0;
  left: 15vw;
  transform: translateY(-50%);

  @include breakpoint(md) {
    left: 25vw;
  }

  @include breakpoint(lg) {
    left: 35rem;
  }
}
